@import url('https://fonts.googleapis.com/css?family=Eczar:400,500,600,700,800');

body {
    height: 4000px;
    font-family: "Eczar", serif;
    background-color: #F2F2F2
}

.chart-title {
    font-weight: 600;
}


.Chart {
    width: 640px;
    height: 720px;
} 

.axis-label {
    font-family: "Eczar", serif;
    font-size: 16px;
    font-weight: 500;
    fill: #666;
}

.Chart {
    position: fixed;
    top: 0px;
    left: 0px;
}

.right {
    left: 640px;
}


text {
    font-size: 13;
    color: #000;
}


.axis .tick text {
    font-family: "Eczar", serif;
}

path {
    /* filter: drop-shadow( 3px 3px 4px rgba(0, 0, 100, .4)); */
}

.axis .domain {
    display: none;
}

#B #axis-y .tick {
    display: none;
}


#B1 #axis-y .tick {
    display: none;
}

#B .character .gas {
    font-weight: 600;
    fill: #fff;
}

#B .character .oil {
    font-weight: 600;
    fill: #fff;
}

#B .character .coal {
    font-weight: 600;
    fill: #fff;
}

#B .character .nuclear {
    font-weight: 600;
    fill: #fff;
}

#B .character .biomass {
    font-weight: 600;
    fill: #fff;
}


#B .character .hydro {
    font-weight: 600;
    fill: #fff;
}


#B .character .wind {
    font-weight: 600;
    fill: #fff;
}

#D .character .percent {
    font-weight: 600;
    fill: #fff;
    letter-spacing: 1px;
}

#D #axis-y .tick {
    display: none;
}


